<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LUN_Converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <LUN_Converter.Properties.Settings>
            <setting name="Url_kv" serializeAs="String">
                <value>http://avers.in.ua/flat/</value>
            </setting>
            <setting name="Url_house" serializeAs="String">
                <value>http://avers.in.ua/house/</value>
            </setting>
            <setting name="Url_image" serializeAs="String">
                <value>https://cabinet2015.in.ua/adverts/files/</value>
            </setting>
        </LUN_Converter.Properties.Settings>
    </applicationSettings>
</configuration>